
GO
ALTER TABLE [dbo].[tblQuyen] DROP CONSTRAINT [FK_tblQuyen_tblNguoiSuDung1]
GO
ALTER TABLE [dbo].[tblQuyen] DROP CONSTRAINT [FK_tblQuyen_tblChucNang1]
GO
ALTER TABLE [dbo].[tblPhieuXuat] DROP CONSTRAINT [FK_tblPhieuXuat_tblNguoiBan]
GO
ALTER TABLE [dbo].[tblPhieuXuat] DROP CONSTRAINT [FK_tblPhieuXuat_tblKhachHang]
GO
ALTER TABLE [dbo].[tblPhieuNhap] DROP CONSTRAINT [FK_tblPhieuNhap_tblNCC]
GO
ALTER TABLE [dbo].[tblDongDH] DROP CONSTRAINT [FK_tblDongDH_tblDonHang]
GO
ALTER TABLE [dbo].[tblDongDH] DROP CONSTRAINT [FK_tblDongDH_tblDienThoai]
GO
ALTER TABLE [dbo].[tblDienThoai] DROP CONSTRAINT [FK_tblDienThoai_tblNSX]
GO
DROP TABLE [dbo].[tblTemp]
GO
DROP TABLE [dbo].[tblQuyen]
GO
DROP TABLE [dbo].[tblPhieuXuat]
GO
DROP TABLE [dbo].[tblPhieuNhap]
GO
DROP TABLE [dbo].[tblNSX]
GO
DROP TABLE [dbo].[tblNguoiSuDung]
GO
DROP TABLE [dbo].[tblNguoiBan]
GO
DROP TABLE [dbo].[tblLuotTruyCap]
GO
DROP TABLE [dbo].[tblLienHe]
GO
DROP TABLE [dbo].[tblKhachHang]
GO
DROP TABLE [dbo].[tblDonHang]
GO
DROP TABLE [dbo].[tblDongPX]
GO
DROP TABLE [dbo].[tblDongPN]
GO
DROP TABLE [dbo].[tblDongDH]
GO
DROP TABLE [dbo].[tblDienThoai]
GO
DROP TABLE [dbo].[tblComment]
GO
DROP TABLE [dbo].[tblChucNang]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChucNang](
	[IDChucNang] [int] IDENTITY(1,1) NOT NULL,
	[TenChucNang] [nvarchar](50) NULL,
	[Mota] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblChucNang] PRIMARY KEY CLUSTERED 
(
	[IDChucNang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblComment](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[IDDT] [nchar](10) NOT NULL,
	[TieuDe] [nvarchar](250) NULL,
	[Comments] [ntext] NULL,
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[NgayDang] [datetime] NULL,
 CONSTRAINT [PK_tblComment_1] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC,
	[IDDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDienThoai](
	[IDDT] [nchar](10) NOT NULL,
	[IDNSX] [int] NOT NULL,
	[TenDT] [nvarchar](250) NOT NULL,
	[Gia] [money] NULL,
	[SoLuong] [int] NULL,
	[KichThuoc] [nvarchar](230) NULL,
	[TrongLuong] [nvarchar](230) NULL,
	[Camera] [nvarchar](250) NULL,
	[TheNho] [tinyint] NULL,
	[CongNghe3G] [tinyint] NULL,
	[Wifi] [tinyint] NULL,
	[Java] [tinyint] NULL,
	[Pin] [nvarchar](250) NULL,
	[ThoiGianCho] [nvarchar](250) NULL,
	[ThoiGianDamThoai] [nvarchar](250) NULL,
	[BaoHanh] [nvarchar](250) NULL,
	[PhuKien] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](250) NULL,
	[HinhAnh2] [nvarchar](250) NULL,
	[HinhAnh3] [nvarchar](250) NULL,
	[HinhAnh4] [nvarchar](250) NULL,
	[LuotXem] [int] NULL,
	[NCC] [int] NULL,
 CONSTRAINT [PK_tblDienThoai] PRIMARY KEY CLUSTERED 
(
	[IDDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDongDH](
	[IDDonHang] [int] NOT NULL,
	[IDDT] [nchar](10) NOT NULL,
	[SLMua] [int] NULL,
	[Gia] [money] NULL,
 CONSTRAINT [PK_tblDongDH] PRIMARY KEY CLUSTERED 
(
	[IDDonHang] ASC,
	[IDDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDongPN](
	[IDDPN] [int] IDENTITY(1,1) NOT NULL,
	[SoPN] [int] NULL,
	[IDDT] [nvarchar](250) NULL,
	[TenDT] [nvarchar](250) NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDongPX](
	[SoPX] [int] NOT NULL,
	[IDDT] [nchar](10) NOT NULL,
	[SoLuongMua] [int] NULL,
	[GiaBan] [money] NULL
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDonHang](
	[IDDonHang] [int] NOT NULL,
	[TaiKhoan] [nvarchar](50) NULL,
	[MaKH] [int] NULL,
	[NgayLap] [nvarchar](50) NULL,
	[DiaChiGiao] [nvarchar](50) NULL,
	[TongTien] [money] NULL,
	[TrangThai] [tinyint] NULL,
	[NgayHuy] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblDonHang] PRIMARY KEY CLUSTERED 
(
	[IDDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TaiKhoan] [nvarchar](20) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](250) NULL,
	[MaTK] [nvarchar](50) NULL,
	[SoTien] [money] NULL,
 CONSTRAINT [PK_tblKhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLienHe](
	[MaLienHe] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](50) NULL,
	[NoiDung] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tblLienHe] PRIMARY KEY CLUSTERED 
(
	[MaLienHe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLuotTruyCap](
	[SoNguoi] [bigint] NOT NULL,
	[Ngay] [datetime] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNCC]    Script Date: 12/11/2020 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNCC](
	[IDNCC] [int] IDENTITY(1,1) NOT NULL,
	[TenNCC] [nvarchar](50) NOT NULL,
	[GioiThieu] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblNCC] PRIMARY KEY CLUSTERED 
(
	[IDNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNguoiBan]    Script Date: 12/11/2020 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNguoiBan](
	[MaNV] [int] NOT NULL,
	[TenNV] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblNguoiBan] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNguoiSuDung]    Script Date: 12/11/2020 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNguoiSuDung](
	[TenDangNhap] [nvarchar](20) NOT NULL,
	[MatKhau] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[SDT] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[Quyen] [tinyint] NULL,
 CONSTRAINT [PK_tblNguoiSuDung] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNSX]    Script Date: 12/11/2020 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNSX](
	[IDNSX] [int] IDENTITY(1,1) NOT NULL,
	[TenNSX] [nvarchar](50) NOT NULL,
	[GioiThieu] [nvarchar](max) NULL,
 CONSTRAINT [PK_tblNSX] PRIMARY KEY CLUSTERED 
(
	[IDNSX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPhieuNhap]    Script Date: 12/11/2020 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuNhap](
	[SoPN] [int] NOT NULL,
	[NgayNhap] [datetime] NULL,
	[MaNCC] [int] NULL,
 CONSTRAINT [PK_tblPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[SoPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPhieuXuat]    Script Date: 12/11/2020 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuXuat](
	[SoPX] [int] NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayXuat] [datetime] NULL,
	[DiaChiGiao] [nvarchar](250) NULL,
	[TongTien] [money] NULL,
	[MaNV] [int] NULL,
 CONSTRAINT [PK_tblPhieuXuat] PRIMARY KEY CLUSTERED 
(
	[SoPX] ASC,
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblQuyen]    Script Date: 12/11/2020 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQuyen](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](20) NOT NULL,
	[IDChucNang] [int] NOT NULL,
	[MoTa] [nvarchar](250) NULL,
	[Page] [nvarchar](50) NULL,
	[Macdinh] [int] NULL,
 CONSTRAINT [PK_tblQuyen] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTemp]    Script Date: 12/11/2020 5:40:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTemp](
	[SOPN] [int] NULL,
	[IDDT] [nchar](10) NULL,
	[TenDT] [nvarchar](250) NULL,
	[SoLuong] [int] NULL,
	[GiaNhap] [money] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]



SET IDENTITY_INSERT [dbo].[tblChucNang] ON 

INSERT [dbo].[tblChucNang] ([IDChucNang], [TenChucNang], [Mota]) VALUES (1, N'Enable', N'Mở các trang quản lý')
INSERT [dbo].[tblChucNang] ([IDChucNang], [TenChucNang], [Mota]) VALUES (2, N'Disable', N'Khóa các trang quản lý')
SET IDENTITY_INSERT [dbo].[tblChucNang] OFF
INSERT [dbo].[tblDienThoai] ([IDDT], [IDNSX], [TenDT], [Gia], [SoLuong], [KichThuoc], [TrongLuong], [Camera], [TheNho], [CongNghe3G], [Wifi], [Java], [Pin], [ThoiGianCho], [ThoiGianDamThoai], [BaoHanh], [PhuKien], [HinhAnh], [HinhAnh2], [HinhAnh3], [HinhAnh4], [LuotXem], [NCC]) VALUES (N'IP11      ', 6, N'iPhone 11 64GB', 15500000.0000, 2, N'150.9mm - 75.7mm - 8.3mm', N'194 g', N'12 MP, ƒ/2.2 aperture', 0, 1, 1, 0, N'3110 mAh', N'500', N'5', N'12 tháng', N'', N'iphong11-64gb.jpg', N'iphong11-64gb-1.jpg', N'iphong11-64gb-2.jpg', N'iphong11-64gb-3.jpg', 7, 1)
INSERT [dbo].[tblDongDH] ([IDDonHang], [IDDT], [SLMua], [Gia]) VALUES (1, N'XMRN8     ', 1, 4790000.0000)
INSERT [dbo].[tblDongDH] ([IDDonHang], [IDDT], [SLMua], [Gia]) VALUES (2, N'IP11      ', 2, 15500000.0000)
INSERT [dbo].[tblDongDH] ([IDDonHang], [IDDT], [SLMua], [Gia]) VALUES (2, N'XMR9C     ', 3, 2490000.0000)
SET IDENTITY_INSERT [dbo].[tblDongPN] ON 

INSERT [dbo].[tblDongPN] ([IDDPN], [SoPN], [IDDT], [TenDT], [SoLuong], [GiaNhap]) VALUES (175, 0, N'1         ', N'1', 1, 1.0000)
INSERT [dbo].[tblDongPN] ([IDDPN], [SoPN], [IDDT], [TenDT], [SoLuong], [GiaNhap]) VALUES (176, 1, N'1         ', N'1', 1, 1.0000)
INSERT [dbo].[tblDongPN] ([IDDPN], [SoPN], [IDDT], [TenDT], [SoLuong], [GiaNhap]) VALUES (177, 2, N'NOL800    ', N'Nokia Lumia 800 ', 2, 10559000.0000)
SET IDENTITY_INSERT [dbo].[tblDongPN] OFF
INSERT [dbo].[tblDongPX] ([SoPX], [IDDT], [SoLuongMua], [GiaBan]) VALUES (1, N'11        ', 1, 16850000.0000)
INSERT [dbo].[tblDongPX] ([SoPX], [IDDT], [SoLuongMua], [GiaBan]) VALUES (2, N'7         ', 1, 4180000.0000)
INSERT [dbo].[tblDongPX] ([SoPX], [IDDT], [SoLuongMua], [GiaBan]) VALUES (2, N'9         ', 1, 2770000.0000)
INSERT [dbo].[tblDonHang] ([IDDonHang], [TaiKhoan], [MaKH], [NgayLap], [DiaChiGiao], [TongTien], [TrangThai], [NgayHuy]) VALUES (1, N'NamNguyen', NULL, N'12/11/2020 3:20:48 PM', N'Bình Dương', 4790000.0000, 0, N'12/21/2020 3:20:48 PM')
INSERT [dbo].[tblDonHang] ([IDDonHang], [TaiKhoan], [MaKH], [NgayLap], [DiaChiGiao], [TongTien], [TrangThai], [NgayHuy]) VALUES (2, N'NamNguyen1234', NULL, N'12/11/2020 4:39:27 PM', N'Bình Dương', 38470000.0000, 0, N'12/21/2020 4:39:28 PM')
INSERT [dbo].[tblDonHang] ([IDDonHang], [TaiKhoan], [MaKH], [NgayLap], [DiaChiGiao], [TongTien], [TrangThai], [NgayHuy]) VALUES (3, N'Nam123', NULL, N'12/11/2020 4:53:17 PM', N'Bình Dương', 46380000.0000, 0, N'12/21/2020 4:53:17 PM')
SET IDENTITY_INSERT [dbo].[tblKhachHang] ON 

INSERT [dbo].[tblKhachHang] ([MaKH], [TaiKhoan], [MatKhau], [TenKH], [DiaChi], [MaTK], [SoTien]) VALUES (10, N'NamNguyen', N'123456', N'Nguyễn Văn Nam', N'Bình Dương', N'KH8', 123610000.0000)
INSERT [dbo].[tblKhachHang] ([MaKH], [TaiKhoan], [MatKhau], [TenKH], [DiaChi], [MaTK], [SoTien]) VALUES (15, N'Nam123', N'123456789', N'Nguyễn Văn Nam', N'Thủ Dầu Một - Bình Dương', N'KH11', 0.0000)
SET IDENTITY_INSERT [dbo].[tblKhachHang] OFF
SET IDENTITY_INSERT [dbo].[tblLienHe] ON 

INSERT [dbo].[tblLienHe] ([MaLienHe], [HoTen], [Email], [SDT], [NoiDung]) VALUES (16, N'Nguyễn Văn Nam', N'nguyenvannam1a@gmail.com', N'0123456789', N'Bán Hàng tốt')
SET IDENTITY_INSERT [dbo].[tblLienHe] OFF
INSERT [dbo].[tblLuotTruyCap] ([SoNguoi], [Ngay]) VALUES (897, CAST(N'2020-12-11 16:50:51.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblNCC] ON 

INSERT [dbo].[tblNCC] ([IDNCC], [TenNCC], [GioiThieu]) VALUES (1, N'CellphoneS', N'CellphoneS')
INSERT [dbo].[tblNCC] ([IDNCC], [TenNCC], [GioiThieu]) VALUES (2, N'FPT', N'cty FPT')
INSERT [dbo].[tblNCC] ([IDNCC], [TenNCC], [GioiThieu]) VALUES (3, N'TheGioiDiDong', N'Thế Giới Di Động')
SET IDENTITY_INSERT [dbo].[tblNCC] OFF
INSERT [dbo].[tblNguoiSuDung] ([TenDangNhap], [MatKhau], [Email], [HoTen], [SDT], [DiaChi], [Quyen]) VALUES (N'admin', N'admin', N'nguyenvannam1a@gmail.com', N'Nguyễn Văn Nam', N'0386098843', N'Bình Dương', 1)
SET IDENTITY_INSERT [dbo].[tblNSX] ON 

INSERT [dbo].[tblNSX] ([IDNSX], [TenNSX], [GioiThieu]) VALUES (1, N'Xiaomi', N' Xiaomi')
INSERT [dbo].[tblNSX] ([IDNSX], [TenNSX], [GioiThieu]) VALUES (2, N'Samsung', N'Samsung')
INSERT [dbo].[tblNSX] ([IDNSX], [TenNSX], [GioiThieu]) VALUES (3, N'Vsmart', N'Vsmart ')
SET IDENTITY_INSERT [dbo].[tblNSX] OFF
INSERT [dbo].[tblPhieuXuat] ([SoPX], [MaKH], [NgayXuat], [DiaChiGiao], [TongTien], [MaNV]) VALUES (1, 10, CAST(N'2020-12-02 12:16:30.000' AS DateTime), N'Bình Dương', 1900000.0000, NULL)
INSERT [dbo].[tblPhieuXuat] ([SoPX], [MaKH], [NgayXuat], [DiaChiGiao], [TongTien], [MaNV]) VALUES (2, 10, CAST(N'2020-12-02 12:16:39.000' AS DateTime), N'Bình Dương', 8990000.0000, NULL)
INSERT [dbo].[tblPhieuXuat] ([SoPX], [MaKH], [NgayXuat], [DiaChiGiao], [TongTien], [MaNV]) VALUES (3, 10, CAST(N'2020-12-02 12:16:46.000' AS DateTime), N'Bình Dương', 15500000.0000, NULL)
SET IDENTITY_INSERT [dbo].[tblQuyen] ON 

INSERT [dbo].[tblQuyen] ([ID], [TenDangNhap], [IDChucNang], [MoTa], [Page], [Macdinh]) VALUES (1, N'admin', 1, N'Mở tab các trang quản lý', N'0,1,2,3,4,5,6,7,8,9', 1)
SET IDENTITY_INSERT [dbo].[tblQuyen] OFF
SET IDENTITY_INSERT [dbo].[tblTinTuc] ON 

ALTER TABLE [dbo].[tblDienThoai]  WITH CHECK ADD  CONSTRAINT [FK_tblDienThoai_tblNSX] FOREIGN KEY([IDNSX])
REFERENCES [dbo].[tblNSX] ([IDNSX])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblDienThoai] CHECK CONSTRAINT [FK_tblDienThoai_tblNSX]
GO
ALTER TABLE [dbo].[tblDongDH]  WITH CHECK ADD  CONSTRAINT [FK_tblDongDH_tblDienThoai] FOREIGN KEY([IDDT])
REFERENCES [dbo].[tblDienThoai] ([IDDT])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblDongDH] CHECK CONSTRAINT [FK_tblDongDH_tblDienThoai]
GO
ALTER TABLE [dbo].[tblDongDH]  WITH CHECK ADD  CONSTRAINT [FK_tblDongDH_tblDonHang] FOREIGN KEY([IDDonHang])
REFERENCES [dbo].[tblDonHang] ([IDDonHang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblDongDH] CHECK CONSTRAINT [FK_tblDongDH_tblDonHang]
GO
ALTER TABLE [dbo].[tblPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_tblPhieuNhap_tblNCC] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[tblNCC] ([IDNCC])
GO
ALTER TABLE [dbo].[tblPhieuNhap] CHECK CONSTRAINT [FK_tblPhieuNhap_tblNCC]
GO
ALTER TABLE [dbo].[tblPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_tblPhieuXuat_tblKhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[tblKhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[tblPhieuXuat] CHECK CONSTRAINT [FK_tblPhieuXuat_tblKhachHang]
GO
ALTER TABLE [dbo].[tblPhieuXuat]  WITH CHECK ADD  CONSTRAINT [FK_tblPhieuXuat_tblNguoiBan] FOREIGN KEY([MaNV])
REFERENCES [dbo].[tblNguoiBan] ([MaNV])
GO
ALTER TABLE [dbo].[tblPhieuXuat] CHECK CONSTRAINT [FK_tblPhieuXuat_tblNguoiBan]
GO
ALTER TABLE [dbo].[tblQuyen]  WITH CHECK ADD  CONSTRAINT [FK_tblQuyen_tblChucNang1] FOREIGN KEY([IDChucNang])
REFERENCES [dbo].[tblChucNang] ([IDChucNang])
GO
ALTER TABLE [dbo].[tblQuyen] CHECK CONSTRAINT [FK_tblQuyen_tblChucNang1]
GO
ALTER TABLE [dbo].[tblQuyen]  WITH CHECK ADD  CONSTRAINT [FK_tblQuyen_tblNguoiSuDung1] FOREIGN KEY([TenDangNhap])
REFERENCES [dbo].[tblNguoiSuDung] ([TenDangNhap])
GO
ALTER TABLE [dbo].[tblQuyen] CHECK CONSTRAINT [FK_tblQuyen_tblNguoiSuDung1]
GO
