body
{
    background-image: url('../../images/bgpage.png');
    background-repeat: repeat-x;
}
.div
{
    width: 1000px;
    height: 600px;
    border:1px solid gray;
    margin:auto;
}
.Tieude
{
    margin:50px auto auto auto;
    text-align:center;
    color:White ;
}
.tbl
    {
        border: 1px solid #ABC;
        -moz-border-radius: 5px;
        margin :150px auto auto auto;
        border-radius: 5px;
    }

